<tr class="bg-emerald-200">
  <td><%= image_tag employee.picture, size: "64x64" %></td>
  <td><%= employee.email %></td>
  <td>
    <div id="container-sub-employees-<%= employee.id %>">
      <%= link_to 'Ver empleados', sub_employees_path(employee.id), remote: true, class: "my-3 ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700" %>
    </div>
  </td>
</tr>
