<div class="text-xl font-medium text-black">Empleados</div>

<table class="table-fixed">
  <thead>
    <tr>
      <td class="w-1/2">Nombre</td>
      <td class="w-1/4">Foto</td>
      <td class="w-1/4">Email</td>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <%= render 'table_employee', employee: employee %>
    <% end %>
  </tbody>
</table>
